@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700');

*{
  margin:0;
  padding:0;
}
 

.pointer {cursor: pointer;}

.containerh{  
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background-color: #111845;
  z-index: 14;
  
  
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* background-image: url("./img/cheetah.jpg"); */
  background-image: linear-gradient(rgba(0,0,0,.85) 15%,rgba(0,0,0,.2) 40%,#000 90%);
    
    
}


.background-imgh{
  background-image: url("https://i.imgur.com/clAj0SH.jpg");
  background-size: cover;
  height: 500px;
  width: 1000px;
  background-repeat: no-repeat;
  margin: 5% auto;
  padding:20px;
  border: 1px solid #2a3cad;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #2a3cad;
  position: relative;
  opacity: 0.9;
  background-position: center center;
}

.contenth h2{ font-size:19px;}

.boxh{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #2a3cad;
  color: white;
  padding: 20px;
}

.boxh:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:1.5s;
  pointer-events: none;
}

.boxh:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.boxh .contenth{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  
}

.boxh span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.boxh span:nth-child(1)
{
  transform:rotate(0deg);
}

.boxh span:nth-child(2)
{
  transform:rotate(90deg);
}

.boxh span:nth-child(3)
{
  transform:rotate(180deg);
}

.boxh span:nth-child(4)
{
  transform:rotate(270deg);
}

.boxh span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #50dfdb;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 

@media screen and (max-width: 600px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 50vh;
    
  }

  .boxh{
    width: 220px;
  height: 220px;
  }
  .contenth h2{ 
    font-size:17px;
    
    align-self: center;
    margin-top: -1vh;
  }

.contenth p{
  font-size: 14px;
 
}
}

// focus on this one mainly
@media screen and (max-width: 800px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    width: 50vh;
    
  }

  .boxh{
    width: 220px;
  height: 220px;
  }
  .contenth h2{ 
    font-size:11px;
    
    align-self: center;
    margin-top: -1vh;
  }



.contenth p{
  font-size: 10.5px;
 
}

.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  z-index: 1000;
  width: 18vw !important;
 

}


a.button{
  display:flex;
  justify-content:center;
  width: 45%;
  height: 3.5vh;
  font-size: 1vh;
  top: 2vh;
  z-index: 9000;
 
}


}


@media screen and (max-height: 600px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 80vh;
    width: 100vh;
    
  }

  .boxh{
    width: 40vh;
  height: 40vh;
  }
  .contenth h2{ 
    font-size:17px;
    
    align-self: center;
    margin-top: -1vh;
  }

.contenth p{
  font-size: 14px;
 
}

}



@media screen and (max-height: 450px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: 90vh;
    
  }

  .boxh{
    width: 44vh;
  height: 44vh;
  }
  .contenth h2{ 
    font-size:12px;
    
    align-self: center;
    margin-top: -2vh;
  }

.contenth p{
  font-size: 12px;
 
}
button{
  width: 10%;
} 
.btn-grad-public{

}
 .bttn-public{

 }

}


@media screen and (max-height: 320px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 90vh;
    width: 90vh;
    
  }

  .boxh{
  width: 55vh;
  height: 55vh;
  }
  .contenth h2{ 
    // font-size:12px;
    
    align-self: center;
    margin-top: -2vh;
  }

.contenth p{
  font-size:8px;
 
}
}


.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  z-index: 1000;
  width: 100%;
 

}
.btn-grad:hover {
   border: 2px solid white;
   opacity: 0.8;
  }

  .btn-spacing{
    padding-top: 5%;
  }


  .public-room-spacing{
    padding-top: 3.7%;
  }

  .public-room-btn{
    width:224px;
  }


  .btn-grad-public {
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    width: 224px;
  }
  .btn-grad-public:hover { 
    
    background-position: right center !important;
   }



$font:'Source Sans Pro', sans-serif;
$second:white;

  

a.bttn-public {
  color:$second;
  text-decoration:none;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  &:hover {
    color:#FFF;
  }
  &:focus {
    color:#FFF;
  }
}

.bttn-public {
  font-size:18px;
  letter-spacing:2px;
  text-transform:uppercase;
  display:inline-block;
  text-align:center;
  width:270px;
  font-weight:bold;
  padding:14px 0px;
  border:3px solid $second;
  border-radius:2px;
  position:relative;
  box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
  z-index:2;
  &:before {
    -webkit-transition:0.5s all ease;
    transition:0.5s all ease;
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    bottom:0;
    opacity:0;
    content:'';
    background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
    z-index:-1;
  }
  &:hover {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
  &:focus {
    &:before {
      -webkit-transition:0.5s all ease;
      transition:0.5s all ease;
      left:0;
      right:0;
      opacity:1;
    }
  }
}

@media screen and (max-width: 600px){
  .background-imgh{
    background-image: url("https://i.imgur.com/clAj0SH.jpg");
    background-size: cover;
    background-position: center center;
    height: 52vh;
    width: 52vh;
    
  }

  .boxh{
  width: 32vh;
  height: 32vh;
  }
  .contenth h2{ 
    // font-size:12px;
    font-size: 3.3vw;
    align-self: center;
    margin-top: -2vh;
  }

.contenth p{
  font-size:3.1vw;
 
}

.btn-grad {
  background-image: linear-gradient(to right, #314755 0%, #26a0da 51%, #314755 100%);
  z-index: 1000;
  width: 32vw !important;
 

}


.public-room-spacing{
  padding-top: 3.7% !important;
}
}